{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: cornsilk;
    font-size: 30px;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
} 
.header{
    background-color: rgb(241, 241, 250);
    height: 60px;
    font-size: 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

}
.link{
    text-decoration: none;
    padding-left: 10px;
    color: #36362a;
    font-weight: 400;
    font-size: 14px;
}
ion-icon{
    font-size: 20px;
    padding: 8px;
    transition: .3s;
}
ion-icon:hover{
    background-color: rgb(26, 20, 20);
    border-radius: 20px;
}
.btn-cinza{
    font-size: 13px;
    text-decoration: none;
    background-color: rgb(251, 251, 255);
    padding: 8px 15px 8px 15px;
    color: rgb(119, 121, 122);
    border-radius: 5px;
    margin-left: 10px;
}
.pesquisa{
    margin: 10px;
    height: 40px;
    min-width: 50vw;
    max-width: 75vw;
    border-radius: 20px;
    border: 1px solid blanchedalmond;
}
.pesquisa:hover{
    box-shadow: 2px 0px 5px 1px rgb(12, 11, 11);
}
.btn{
    background-color: rgb(67, 67, 219);
    padding: 8px 15px 8px 15px;
    color: rgb(243, 247, 250);
    border-radius: 5px;
    margin-left: 10px;
}
.main{
    background-color: rgb(250, 249, 249);
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    color: #36362a;
    background-color: #aeb18e;
    height: 60px ;
    border-bottom: 1px solid #c6c39a;
    font-size: 18px;
    padding-left: 18px;

    display: flex;
    align-items: center;
}